n8n_smart_automation_corrected.json
{
    "name": "Smart Excel Automation - Corrected",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "schedule-trigger-001",
            "name": "Every 5 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "command": "cd c:\\Users\\4D\\Desktop\\n8n-auto-excel-uploader && node scripts\\smart_automation.js",
                "options": {}
            },
            "id": "execute-command-001",
            "name": "Run Smart Automation",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.exitCode}}",
                            "operation": "equals",
                            "value2": "0"
                        }
                    ]
                }
            },
            "id": "if-node-001",
            "name": "Check Success",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "noop-success-001",
            "name": "Success",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1150,
                200
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "noop-error-001",
            "name": "Error - Check Logs",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1150,
                400
            ]
        }
    ],
    "connections": {
        "Every 5 Minutes": {
            "main": [
                [
                    {
                        "node": "Run Smart Automation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Smart Automation": {
            "main": [
                [
                    {
                        "node": "Check Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Success": {
            "main": [
                [
                    {
                        "node": "Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error - Check Logs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1.0.0",
    "meta": {
        "instanceId": "n8n-auto-excel-uploader"
    },
    "tags": []
}